{% extends "base.html.twig" %}
{% block content %}
<div class="span7">
	<table>
		<thead>
			<tr><th>id</th><th>name</th><th>content</th></tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr><td>{{ post['id'] }}</td><td>{{ post['name'] }}</td><td>{{ post['content'] }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}